################################################################################
# Node.js
node_modules/
dist/
.npm/
.pnpm-debug.log*
.yarn/cache/
web_modules/
.next/
out/

################################################################################
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

################################################################################
# Go
/bin/
/pkg/
*.exe
*.test
*.out

################################################################################
# Rust
/target/
**/*.rs.bk
